* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
 
:root {
    --main-color: #004F71;
    --secondary-color: rgb(112, 217, 249);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}